<% if (alerts.error) { %>
    <% alerts.error.forEach((message) => { %>
        <div style="background-color: red; color:white;">
            <%= message %>
        </div>
    <%});%>
<%} else if (alerts.success)  { %>
<% alerts.success.forEach((message) => { %>
    <div style="background: green; color: white;">
        <%= message %>
    </div>
<%    }); %>
<% } %>