<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="card">
        <% teamData.forEach(team => { %>
            <div class = "card">
                <h3><%= team.full_name %></h3>
            </div>
        
        <%})%>
    </div>




</body>

</html>