<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


    <div class="container center-align">
        <h2>Don't know where to start?</h2>
        <img src="https://media.tenor.com/images/591d959261c492366416c42a3b4f6b7c/tenor.gif" alt="">
    </div>

    <section class="container section" id="photos">
        <div class="row">
            <div class="col s12 l5">
                <img src="https://publish.nba.com/images/cms/2020-06/nba-ball-general-view-warmups.jpg?cw=1045&w=1405&x=255&ch=588&h=935&y=52"
                    alt="" class="responsive-img materialboxed">
            </div>
            <div class="col s12 l5 offset-l1">
                <h2 class="text-darken-4">Teams</h2>
                <h5>Curious to see the details of each team? Click the button below to view all the current NBA teams and their roster.</h5>
                <br>
                <a class="waves-effect waves-light black btn" href="/team"><i
                    class="material-icons right">chevron_right</i>Teams</a>
            </div>
        </div>
        <div class="row">
            <div class="col s14 l5 offset-l1 push-l7">
                <img src="https://www.dctitleguy.com/wp-content/uploads/2020/02/Kobe-Bryant-2.jpg" alt="" class="responsive-img materialboxed">
            </div>
            <div class="col s14 l4 offset-l1 pull-l4 right-align">
                <h2 class="text-darken-4">Players</h2>
                <h5>View all players dating back from 1979! Click the button below to see all players and their statistics!</h5>
                <br>
                <a class="waves-effect waves-light black btn" href="/player"><i
                    class="material-icons right">chevron_right</i>Players</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l5">
                <img src="https://gmsrp.cachefly.net/images/20/02/12/66fbad8f025b1425c296c263956d0315/960.jpg" alt="" class="responsive-img materialboxed">
            </div>
            <div class="col s12 l6 offset-l1">
                <h2 class="text-darken-4">Build Your Own</h2>
                <h5>Trying to build your own team or player? The button below will take you there!</h5>
                    <br>
                    <a class="waves-effect waves-light black btn" href="/home"><i
                        class="material-icons right">chevron_right</i>Create</a>
            </div>
        </div>
    </section>


</body>

</html>