<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize CSS&JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="parallax-container">
        <div class="parallax"><img src="/images/parallaxPhoto3.jpg" id="parallaxPhoto1"></div>
    </div>
    <div class="section white center-align">
        <div class="row container">
            <h3 class="header">What is NBA Team Builder?</h3>
            <h5 class="black-text" id="description">NBA Team Builder is a web based application revolving around the NBA
                and it's players. The primary function is to view current NBA teams and their rosters, in addition to
                giving the ability to make your own team!</h5>
            <a class="waves-effect waves-light black btn" href="/home"><i
                    class="material-icons right">chevron_right</i>Enter</a>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="/images/parallaxPhoto2.jpg" id="parallaxPhoto2"></div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.parallax');
            var instances = M.Parallax.init(elems, {});
        });
    </script>

</body>

</html>