<div class = "container center-align">
    <h2>Known Issues</h2>
    <hr>
    <h6>
        Display on mobile is not formatted correctly.
    </h6>


    <h2>Quality of Life Implementations</h2>
    <hr>
    <h6>
        <ol>
            <h5>Need to have the ability to view current roster statistics from the team page.</h5>
            
            <ol> • The reason behind this is that the current players of the 2020 season are entered within a separate database from the balldontlie API. Therefore the playerId's do not match up and therefore is a longer and complicated process of lining up playerId's to return the same player statistics.</ol>

            <h5>Need to have the ability to have a fully functioning search bar to find players more efficiently.</h5>
            <h5>Things not centered properly, like NBA DATABASE on navbar, closing the login modal</h5>
            <h5>Need to have the functionality to sort teams by conference</h5>
            <h5>Need to have user ability to upload pictures for players/teams</h5>
        </ol>
    </h6>
</div>