<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <!-- Materialize CSS&JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>NBA Team Builder</title>
</head>

<body>
    <header>
        <nav class="black">
            <div class="container valign-wrapper">
                <img id="hoopLogo" src="/images/basketball-64.png" alt="">
                <a href="/">NBA Team Builder</a>
                <div class="container right-align">
                    <% if (currentUser) { %>
                    <a href="/profile">Profile</a>
                    <a href="/auth/logout">Logout</a>
                    <% } else { %>
                    
                    <a href="/auth/register">Register</a>
                    <a href="/auth/login">Login</a>
                    <% } %>
                </div>

            </div>

        </nav>
    </header>
    <div>
        <%- body %>
    </div>

    <footer class="black page-footer">
        <div>
            <div class="row">
                <div class="container">
                    <h5 class="white-text center-align">Socials</h5>
                    <div class = "center-align">
                        <a href="https://www.linkedin.com/in/eric-young-se/"><img src="/images/linkedin.png" alt=""></a>
                        <a href="https://github.com/Eryoung-610"><img src="/images/github.png" alt=""></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="white-text black footer-copyright">
            <div class="container">
                © 2020 Eric Young
                <a class = "white-text right" id = "aboutMe" href="">About Me</a>
            </div>
    </footer>

</body>

</html>