<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/kmk5ajr.css">
    <!-- Materialize CSS&JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>NBA Database 2020</title>
</head>

<body>
    <header>

        <ul id="dropdown1" class="black dropdown-content">
            <li><a href="/team">Current Teams</a></li>
            <li><a href="/team/created">Created Teams</a></li>
            <li><a href="/player">Players</a></li>
        </ul>
        <ul id="dropdown2" class="black dropdown-content">
            <li><a href="/team">Current Teams</a></li>
            <li><a href="/player">Players</a></li>
        </ul>
        <ul id="dropdown3" class="black dropdown-content">
            <li><a href="/team/new">Team</a></li>
            <li><a href="/player/new">Player</a></li>
        </ul>

        <nav class="black valign-wrapper">
            <div class="container nav-wrapper">
                <a href="/home" class="brand-logo" id="logoTitle"><img src="/images/basketball-64.png" id="ballLogo">NBA
                    DATABASE</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <% if (currentUser) { %>
                    <li><a href="/restartInfo">NBA Restart Information</a></li>    
                    <li><a href="#" class="dropdown-trigger" data-target="dropdown1">View<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="#" class="dropdown-trigger" data-target="dropdown3">Create<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a id="profCircle" href="/profile"><i class="material-icons prefix">account_circle</i></a>
                    </li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="/restartInfo">NBA Restart Information</a></li>
                    <li><a href="#" class="dropdown-trigger" data-target="dropdown2">View<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="/auth/register">Register</a></li>
                    <li><a class="modal-trigger" href="#login">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>


        <div id="login" class="modal">
            <h5 class="container modal-close right-align" id="close">&#10005;</h5>
            <div class="container modal-content center">
                <h4>Login</h4>

                <form action="/auth/login" method="POST">

                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input type="email" name="email" id="authEmail">
                        <label for="authEmail">Email</label>
                    </div>
                    <br>

                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" name="password" id="pass">
                        <label for="pass">Password</label>
                    </div>

                    <input type="submit" value="Login" class="black btn">
                    <br>

                    <br>
                    <div>
                        <a href="auth/register">Not a member? Register Here</a>
                    </div>

                </form>
            </div>
        </div>

        </nav>


    </header>

    <main>
        <div>
            <%- body %>
        </div>
    </main>



    <footer class="black page-footer">
        <div>
            <div class="row">
                <div class="container">
                    <h5 class="white-text center-align">Socials</h5>
                    <div class="center-align">
                        <a href="https://www.linkedin.com/in/eric-young-se/"><img src="/images/linkedin.png"
                                alt="Linkedin"></a>
                        <a href="https://github.com/Eryoung-610"><img src="/images/github.png" alt="Github"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="white-text black footer-copyright">
            <div class="container left-align">
                © 2020 Eric Young
                <a class="white-text right" id="aboutMe" href="/">About</a>
                <a class="white-text right" id="aboutMe" href="/issues">Issues</a>

            </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $('#modal').modal('open');
            $('.trigger-modal').modal();
            $('.sidenav').sidenav();
            $(".dropdown-trigger").dropdown({ hover: true });
            $('.materialboxed').materialbox();
            $('select').formSelect();
            M.updateTextFields();
            $('.tooltipped').tooltip();
        })
    </script>

</body>

</html>