<div class="container center-align">
    <h2>Profile</h2>
    <h3><%= currentUser.name %> </h3>
    <div>
        <img src="https://media0.giphy.com/media/GVMhZwYv8U5NK/200.gif" alt="">
    </div>

    <div class = "left-align">
        <h4>Email : <%= currentUser.email %></h4>
        <h4>Member Since : <%=currentUser.createdAt %></h4>


        
    </div>

</div>