<div class="container center-align">
    <br>
    <img src="https://b.thumbs.redditmedia.com/wsbi1li6PPmF0RUdIHgKCB_nXGjGcK4CFVDsl3-uTXU.png">

    <div>
        <h4>Who's ready for the return of the NBA at the Walt Disney World Resort?</h4>
        <hr>
        <section>
            <h5>
                With the discovery that Utah Jazz center, Rudy Gobert, had tested positive for the coronavirus, NBA
                commissioner, Adam Silver, announced on March 11th of 2020, that the league will be suspended upon
                further notice. After a four month hiatus of planning, the NBA is ready to pick up where they left off.
            </h5>

            <br>
            <br>

            <h5>
                With the announcement on June 26th that the NBA will return for a July 30th restart at the Disney World Resort in Florida, there are additional details about how the schedule is planned out. The top eight teams in each division are invited to compete and teams within six games from the 8th seed are also invited. The league will not carry out the remaining twenty or so games in the season, but will instead play eight, "seeding games", selected from its remaining regular-season matchups. At the end of these seeding games, the seven teams in it's respective conference will take the first through seventh seeds. If the team in eigth is more than four games ahead than the ninth seed, then the eighth team will take the seed. If the team in eigth is fewer than four games ahead, then the two teams will play in a tournament to determine the eigth playoff seed in their conference. Once the playoff field is determined, the NBA will continue is traditional playoff format with four-rounds and best-of-seven series in each round. The season will end no later than October 13th of 2020.
            </h5>

            <img src="https://cdn.vox-cdn.com/thumbor/ICAN9QOiBzwoK9PjGGZmIY4b2LU=/0x0:957x1200/920x0/filters:focal(0x0:957x1200):format(webp):no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/20056030/slack_imgs.jpg" alt="">

            <h5>The 22 teams will be split among three different Disney World Hotels being the Gran Destino Tower at Disney's Coronado Springs Resort, Disney's Grand Floridian Resort, and Disney's Yacht Club Resort. Here is where the teams are staying</h5>

            <h4>Disney's Coronado Springs Resort - Gran Destino Tower</h4>
            <hr>
            <ul>
                <li><a href="/team/17"><h5>Milwaukee Bucks</h5></a></li>
                <li><a href="/team/14"><h5>Los Angeles Lakers</h5></a></li>
                <li><a href="/team/28"><h5>Toronto Raptors</h5></a></li>
                <li><a href="/team/13"><h5>Los Angeles Clippers</h5></a></li>
                <li><a href="/team/2"><h5>Boston Celtics</h5></a></li>
                <li><a href="/team/8"><h5>Denver Nuggets</h5></a></li>
                <li><a href="/team/29"><h5>Utah Jazz</h5></a></li>
            </ul>

            <h4>Disney's Grand Floridian Resort</h4>
            <hr>
            <ul>
                <li><a href="/team/21"><h5>Oklahoma City Thunder</h5></a></li>
                <li><a href="/team/23"><h5>Philadelphia 76ers</h5></a></li>
                <li><a href="/team/11"><h5>Houston Rockets</h5></a></li>
                <li><a href="/team/12"><h5>Indiana Pacers</h5></a></li>
                <li><a href="/team/7"><h5>Dallas Mavericks</h5></a></li>
                <li><a href="/team/3"><h5>Brooklyn Nets</h5></a></li>
                <li><a href="/team/15"><h5>Memphis Grizzlies</h5></a></li>
                <li><a href="/team/22"><h5>Orlando Magic</h5></a></li>

            </ul>
            <h4>Disney's Yacht Club</h4>
            <hr>
            <ul>
                <li><a href="/team/25"><h5>Portland Trail Blazers</h5></a></li>
                <li><a href="/team/26"><h5>Sacramento Kings</h5></a></li>
                <li><a href="/team/19"><h5>New Orleans Pelicans</h5></a></li>
                <li><a href="/team/27"><h5>San Antonio Spurs</h5></a></li>
                <li><a href="/team/24"><h5>Phoenix Suns</h5></a></li>
                <li><a href="/team/30"><h5>Washington Wizards</h5></a></li>
            </ul>

            <h4>Notable Players opting out of the 2020 Season Return</h4>
            <hr>
            <ul>
                <li><h5>Trevor Ariza(G-F) - Portland Trail Blazers</h5></li>
                <li><h5>Davis Bertans(F-C) - Washington Wizards</h5></li>
                <li><h5>Bradley Beal(SG) - Washington Wizards</h5></li>
                <li><h5>Avery Bradley(G) - Los Angeles Lakers</h5></li>
                <li><h5>Willie Cauley-Stein(F-C) - Dallas Mavericks</h5></li>
                <li><h5>DeMarcus Cousins(F-C) - Free Agent</h5></li>
                <li><h5>Wilson Chandler(F) - Brooklyn Nets</h5></li>
                <li><h5>Spencer Dinwiddie(G) - Brooklyn Nets</h5></li>
                <li><h5>DeAndre Jordan(C) - Brooklyn Nets</h5></li>
                <li><h5>Victor Oladipo(G) - Indiana Pacers</h5></li>
                <li><h5>Thabo Sefolosha(G-F) - Houston Rockets</h5></li>
            </ul>
        </section>
    </div>
</div>