body {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

ul.dropdown-content.select-dropdown li span {
  color: black; /* no need for !important :) */
}

a {
  color:white;
  text-decoration: none;
}

#nav-mobile{
  margin-left: 20%;
}

li{
  text-decoration: none;
  list-style-type:none;
}

ul{
  list-style-type:none;
}

nav a {
  margin: 10px;
}

nav {
  height:80px;
}

#hoopLogo{
    margin-top: 45%;
    width:64px;
    height:64px;
}

#title{
  margin-left: 10px;
  width:200px;
}

main {
  flex: 1 0 auto;
}

#regForm{
  border:5px solid black;
  border-radius: 2em;
  margin-top: 5%;
}

/* label focus color */
.input-field input:focus + label {
  color: black !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important
}

#login{
  color:black;
}