body {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.dropdown-content{
  color:black;
}


li{
  text-decoration: none;
  list-style-type:none;
}

ul{
  list-style-type:none;
}

main {
  flex: 1 0 auto;
}

#regForm{
  border:5px solid black;
  border-radius: 2em;
  margin-top: 5%;
}

/* label focus color */
.input-field input:focus + label {
  color: black !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid black !important;
  box-shadow: 0 1px 0 0 black !important
}

#login{
  color:black;
}