body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#hoopLogo{
    margin-top: 3px;
    width:60px;
    height:60px;
}

  main {
    flex: 1 0 auto;
  }
