<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <br>
    <br>


    <div class="center-align" id="teamContainer">
        <% teams.forEach(function(team) { %>
            <% if (team.id <= 30) { %>
        <a href="/team/<%= team.id %>" id="teamName">
            <div class="row" id="teamCard">
                <div class="col s10 l5" id="teamCard">
                    <div class="card" id="teamCard">
                        <div class="card-content center-align" id="teamCard">
                            <h5><%= team.full_name %></h5>
                            <img id="teamLogo" src="<%= team.logo %>">
                        </div>
                    </div>
                </div>
            </div>
        </a>
            <%} %>
        <% }) %>
    </div>

    <script>

    </script>
</body>

</html>