<div id = "test">
<div class="container pt-60">
    <div class="row center-align valign-wrapper" id="regForm">
        <form class="col s12" action="/team" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="fullName" type="text" class="validate" name="name" required>
                    <label for="name" class="">Team Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">language</i>
                    <input id="text" type="text" class="validate" name="conference" required>
                    <label for="conference" class="">Conference</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">image</i>
                    <input type="text" class="validate" name="logo">
                    <label for="logo" class="">Logo URL</label>
                </div>
            </div>

            <div class="row" hidden>
                <div class="input-field col s12">
                    <input type="text" class="validate" name="userId" hidden
                    value = "<%= currentUser.id %>">
                </div>
            </div>


            <div class="row">
                <div class="col s12 mt-25">
                    <button class="btn black waves-effect waves-light" type="submit">Create
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>


    </div>

    </form>
</div>
</div>