<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div class = "container">
        <h5>Disclaimer : While the database holds players from 1979, player statistics are only shown for this current season</h5>
        <a class="black btn tooltipped" data-position="right" data-tooltip="Pulling player data from the balldontlie API did not include player pictures. Therefore in order to provide player pictures, one would have to scour the internet to find player headshots for ALL players dating back to 1979.">Why are there no player pictures?</a>
    </div>

    <div class="center-align" id="teamContainer">
        <% for(var i = 0; i < player.length;i++){ %>
        <a href="/player/view/<%= player[i].id %>" id="playerName">
            <div class="row" id="playerCard">
                <div class="col s10 l5" id="playerCard">
                    <div class="card" id="playerCard">
                        <div class="card-content center-align" id="playerCard">
                            <img id="playerSilhouette"
                                src="https://en.as.com/img/comunes/fotos/fichas/deportistas/silueta-generica-large.png">
                            <p><%= player[i].first_name + " " + player[i].last_name %></p>
                            <p><%= player[i].team.full_name %></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <% } %>

        <ul class="pagination">
            <li class="waves-effect"><a href="/player/1">1</a></li>
            <li class="waves-effect"><a href="/player/2">2</a></li>
            <li class="waves-effect"><a href="/player/3">3</a></li>
            <li class="waves-effect"><a href="/player/4">4</a></li>
            <li class="waves-effect"><a href="/player/5">5</a></li>
            <li class="waves-effect"><a href="/player/6">6</a></li>
            <li class="waves-effect"><a href="/player/7">7</a></li>
            <li class="waves-effect"><a href="/player/8">8</a></li>
            <li class="waves-effect"><a href="/player/9">9</a></li>
            <li class="waves-effect"><a href="/player/10">10</a></li>
            <li class="waves-effect"><a href="/player/11">11</a></li>
            <li class="waves-effect"><a href="/player/12">12</a></li>
            <li class="waves-effect"><a href="/player/13">13</a></li>
            <li class="waves-effect"><a href="/player/14">14</a></li>
            <li class="waves-effect"><a href="/player/15">15</a></li>
            <li class="waves-effect"><a href="/player/16">16</a></li>
            <li class="waves-effect"><a href="/player/17">17</a></li>
            <li class="waves-effect"><a href="/player/18">18</a></li>
            <li class="waves-effect"><a href="/player/19">19</a></li>
            <li class="waves-effect"><a href="/player/20">20</a></li>
            <li class="waves-effect"><a href="/player/21">21</a></li>
            <li class="waves-effect"><a href="/player/22">22</a></li>
            <li class="waves-effect"><a href="/player/23">23</a></li>
            <li class="waves-effect"><a href="/player/24">24</a></li>
            <li class="waves-effect"><a href="/player/25">25</a></li>
            <li class="waves-effect"><a href="/player/26">26</a></li>
            <li class="waves-effect"><a href="/player/27">27</a></li>
            <li class="waves-effect"><a href="/player/28">28</a></li>
            <li class="waves-effect"><a href="/player/29">29</a></li>
            <li class="waves-effect"><a href="/player/30">30</a></li>
            <li class="waves-effect"><a href="/player/31">31</a></li>
            <li class="waves-effect"><a href="/player/32">32</a></li>
            <li class="waves-effect"><a href="/player/33">33</a></li>
        </ul>

        <script>

        </script>

</body>

</html>