<div id="test">
    <div class="container pt-60">
        <div class="row center-align valign-wrapper" id="regForm">
            <form class="col s12" action="/player" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" type="text" class="validate" name="first_name" required>
                        <label for="first_name" class="">First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="text" type="text" class="validate" name="last_name" required>
                        <label for="last_name" class="">Last Name</label>
                    </div>
                </div>

                <div class="input-field col s12">
                    <select name="position">
                        <option value="PG">PG</option>
                        <option value="SG">SG</option>
                        <option value="G">G</option>
                        <option value="SF">SF</option>
                        <option value="PF">PF</option>
                        <option value="F">F</option>
                        <option value="C">C</option>
                        <option value="G-F">G-F</option>
                        <option value="F-C">F-C</option>
                    </select>
                    <label>Position</label>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">image</i>
                        <input value="https://en.as.com/img/comunes/fotos/fichas/deportistas/silueta-generica-large.png"
                            id="first_name2" type="text" class="validate" for="picture" name="picture">
                        <label class="active" for="picture">Picture</label>
                    </div>
                </div>

                <div class="input-field col s12">
                    <select name="teamId">
                        <% teams.forEach(function(team) { %>
                            <% if (team.id > 30) { %>
                        <option value="<%= team.id%>"><%= team.full_name %></option>
                           <% } %>
                    <% }) %>       
                    </select>
                    
                    <label>Assign To Team</label>
                </div>


                <div class="row">
                    <div class="col s12 mt-25">
                        <button class="btn black waves-effect waves-light" type="submit">Create
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>


        </div>

        </form>
    </div>
</div>