<div id = "test">
    <div class="container pt-60">
        <div class="row center-align valign-wrapper" id="regForm">
            <form class="col s12" action="/team" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" type="text" class="validate" name="first_name" required>
                        <label for="first_name" class="">First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="text" type="text" class="validate" name="last_name" required>
                        <label for="last_name" class="">Last Name</label>
                    </div>
                </div>



                <!-- <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">image</i>
                        <input type="text" class="validate" name="logo">
                        <label for="logo" class="">Position</label>
                    </div>
                </div> -->

                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <select>
                      <option value="">PG</option>
                      <option value="">SG</option>
                      <option value="">G</option>
                      <option value="">SF</option>
                      <option value="">PF</option>
                      <option value="">F</option>
                      <option value="">C</option>
                      <option value="">G-F</option>
                      <option value="">F-C</option>
                    </select>
                    <label>Position</label>
                  </div>

    

                <div class="row" hidden>
                    <div class="input-field col s12">
                        <input type="text" class="validate" name="teamId" required>
                        <label for="teamId" class=""></label>
                    </div>
                </div>
    
    
                <div class="row">
                    <div class="col s12 mt-25">
                        <button class="btn black waves-effect waves-light" type="submit">Create
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
    
    
        </div>
    
        </form>
    </div>
    </div>